<a href="https://colab.research.google.com/github/Lorenarrieta69/Code_in_class/blob/main/01_Python_Basic_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction 
We are going to star promming

# **1. What is python?**

it was 1991 and can do anything

# **2. Why Python?**

It is free.
It is open source.
It is easy to learn.

# **3. Getting started**

# 3.1 Python as a calculator

In [ ]:
# Addition 
2+2

4

In [ ]:
#Substration
2-2

0

In [ ]:
#Multiplication
7*14

2

In [ ]:
# EXPONENTIAL
5**3

125

In [ ]:
# Divison
10/3

3.3333333333333335

In [ ]:
# interger Divison
10//3

3

## 3.2 Composite Operations

*Operator precedence*
2*+7

First is Multiplication or Division, then addition or sustration

In [ ]:
# Example
30-5*4/2+7

27.0

Parentheses is a very important because `( )` allows to modify operator procedende

In [ ]:
# Example
(30-5)*4/2+7

57.0

## 3.3 Integers and real numbers

| Math | Code |
|------|------|
| Integers | Integers (int)      |
| Real     | Float point (float) |

The *function* `type()` let'S Us check

In [ ]:
type(26)

int

In [ ]:
type(26.5)

float

### **Scientific notation**

The "form" = `xx10^y` it is write as `xey`

In [1]:
# example
1.52e2

152.0

What happen is you to represente `0.25` whith scientific notation?

In [24]:
# Answer
0.025e1
2.5e-1  #R 
25e-2

0.25

In [16]:
# Example 2
1.5e^5

150000.0

### **Transformation**

In [17]:
# Example int to float
float(5)

5.0

In [18]:
# Example float to int
int(7.52)

7

## 3.4. Basic functions

### **Print**

In [21]:
# Number Example
print (2022,8,11)

2022 8 11

In [22]:
# String (alphabet) Example
print('Lorena')

Lorena

In [25]:
# More complicated string example
print('First Name: Ashly', 'Last Name: Arrieta')
print('First Name: Ashly\tLast Name: Arrieta')
print('First Name: Ashly\nLast Name: Arrieta')

First Name: Ashly Last Name: Arrieta
First Name: Ashly	Last Name: Arrieta
First Name: Ashly
Last Name: Arrieta

In [29]:
# More complicated string example
print('First Name:', 'Ashly', 'Last Name:' , 'Arrieta')

First Name: Ashly Last Name: Arrieta

In [28]:
# More complicated string example
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
# Combine sting and numbers
print('My avorite number is: ', 21, 'because mm')

My avorite number is:  21 because mm

### **Round**

In [33]:
# A simple example
round(1.253,2)

1.25

In [48]:
# Time to practice
# Consider the number 7.2345
# Print every result for rounding from 3 to 0 poitions
 
print('Round with', 0, 'decimals:', round(7.2345,0))
print('Round with', 1, 'decimals:', round(7.2345,1))
print('Round with', 2, 'decimals:', round(7.2345,2))
print('Round with', 3, 'decimals:', round(7.2345,3))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [50]:
# If we for loops 
for i in range(0,4): print('Round with', i, 'decimals:', round(7.2345,i))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [57]:
#Practice
# Print the firt 100 multiples of the number 2, 
for i in range(0,101): print( 'multiples the number 2:', round(2*i))

multiples the number 2: 0
multiples the number 2: 2
multiples the number 2: 4
multiples the number 2: 6
multiples the number 2: 8
multiples the number 2: 10
multiples the number 2: 12
multiples the number 2: 14
multiples the number 2: 16
multiples the number 2: 18
multiples the number 2: 20
multiples the number 2: 22
multiples the number 2: 24
multiples the number 2: 26
multiples the number 2: 28
multiples the number 2: 30
multiples the number 2: 32
multiples the number 2: 34
multiples the number 2: 36
multiples the number 2: 38
multiples the number 2: 40
multiples the number 2: 42
multiples the number 2: 44
multiples the number 2: 46
multiples the number 2: 48
multiples the number 2: 50
multiples the number 2: 52
multiples the number 2: 54
multiples the number 2: 56
multiples the number 2: 58
multiples the number 2: 60
multiples the number 2: 62
multiples the number 2: 64
multiples the number 2: 66
multiples the number 2: 68
multiples the number 2: 70
multiples the number 2: 72
multiples the number 2: 74
multiples the number 2: 76
multiples the number 2: 78
multiples the number 2: 80
multiples the number 2: 82
multiples the number 2: 84
multiples the number 2: 86
multiples the number 2: 88
multiples the number 2: 90
multiples the number 2: 92
multiples the number 2: 94
multiples the number 2: 96
multiples the number 2: 98
multiples the number 2: 100
multiples the number 2: 102
multiples the number 2: 104
multiples the number 2: 106
multiples the number 2: 108
multiples the number 2: 110
multiples the number 2: 112
multiples the number 2: 114
multiples the number 2: 116
multiples the number 2: 118
multiples the number 2: 120
multiples the number 2: 122
multiples the number 2: 124
multiples the number 2: 126
multiples the number 2: 128
multiples the number 2: 130
multiples the number 2: 132
multiples the number 2: 134
multiples the number 2: 136
multiples the number 2: 138
multiples the number 2: 140
multiples the number 2: 142
multiples the number 2: 144
multiples the number 2: 146
multiples the number 2: 148
multiples the number 2: 150
multiples the number 2: 152
multiples the number 2: 154
multiples the number 2: 156
multiples the number 2: 158
multiples the number 2: 160
multiples the number 2: 162
multiples the number 2: 164
multiples the number 2: 166
multiples the number 2: 168
multiples the number 2: 170
multiples the number 2: 172
multiples the number 2: 174
multiples the number 2: 176
multiples the number 2: 178
multiples the number 2: 180
multiples the number 2: 182
multiples the number 2: 184
multiples the number 2: 186
multiples the number 2: 188
multiples the number 2: 190
multiples the number 2: 192
multiples the number 2: 194
multiples the number 2: 196
multiples the number 2: 198
multiples the number 2: 200