<a href="https://colab.research.google.com/github/Lorenarrieta69/Code_in_class/blob/main/01_Python_Basic_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction 
We are going to star promming

# **1. What is python?**

it was 1991 and can do anything

# **2. Why Python?**

It is free.
It is open source.
It is easy to learn.

# **3. Getting started**

# 3.1 Python as a calculator

In [ ]:
# Addition 
2+2

4

In [ ]:
#Substration
2-2

0

In [ ]:
#Multiplication
7*14

2

In [ ]:
# EXPONENTIAL
5**3

125

In [ ]:
# Divison
10/3

3.3333333333333335

In [ ]:
# interger Divison
10//3

3

## 3.2 Composite Operations

*Operator precedence*
2*+7

First is Multiplication or Division, then addition or sustration

In [ ]:
# Example
30-5*4/2+7

27.0

Parentheses is a very important because `( )` allows to modify operator procedende

In [ ]:
# Example
(30-5)*4/2+7

57.0

## 3.3 Integers and real numbers

| Math | Code |
|------|------|
| Integers | Integers (int)      |
| Real     | Float point (float) |

The *function* `type()` let'S Us check

In [ ]:
type(26)

int

In [ ]:
type(26.5)

float

### **Scientific notation**

The "form" = `xx10^y` it is write as `xey`

In [ ]:
# example
1.52e2

152.0

What happen is you to represente `0.25` whith scientific notation?

In [ ]:
# Answer
0.025e1
2.5e-1  #R 
25e-2

0.25

In [ ]:
# Example 2
1.5e^5

150000.0

### **Transformation**

In [ ]:
# Example int to float
float(5)

5.0

In [ ]:
# Example float to int
int(7.52)

7

## 3.4. Basic functions

### **Print**

In [ ]:
# Number Example
print (2022,8,11)

2022 8 11

In [ ]:
# String (alphabet) Example
print('Lorena')

Lorena

In [ ]:
# More complicated string example
print('First Name: Ashly', 'Last Name: Arrieta')
print('First Name: Ashly\tLast Name: Arrieta')
print('First Name: Ashly\nLast Name: Arrieta')

First Name: Ashly Last Name: Arrieta
First Name: Ashly	Last Name: Arrieta
First Name: Ashly
Last Name: Arrieta

In [ ]:
# More complicated string example
print('First Name:', 'Ashly', 'Last Name:' , 'Arrieta')

First Name: Ashly Last Name: Arrieta

In [ ]:
# More complicated string example
for i in range(0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Combine sting and numbers
print('My avorite number is: ', 21, 'because mm')

My avorite number is:  21 because mm

### **Round**

In [ ]:
# A simple example
round(1.253,2)

1.25

In [ ]:
# Time to practice
# Consider the number 7.2345
# Print every result for rounding from 3 to 0 poitions
 
print('Round with', 0, 'decimals:', round(7.2345,0))
print('Round with', 1, 'decimals:', round(7.2345,1))
print('Round with', 2, 'decimals:', round(7.2345,2))
print('Round with', 3, 'decimals:', round(7.2345,3))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [ ]:
# If we for loops 
for i in range(0,4): print('Round with', i, 'decimals:', round(7.2345,i))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [1]:
#Practice
# Print the firt 100 multiples of the number 2, 
print('This  is the list of the 100th multiples of 2')

This  is the list of the 100th multiples of 2

### Absoulte Value

In [2]:
# Example
abs(-25)

25