<a href="https://colab.research.google.com/github/Lorenarrieta69/Code_in_class/blob/main/02_Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. What is a variable?

*Container*, **stores** values

#2. Declaration and Assigment

In [ ]:
# Example opcion
a= 4

In [ ]:
# Example 
at=4

In [ ]:
# Example using variable
print( a +1)

5

In [ ]:
# Example
x = y = z = 100
print(x,y,z)

100 100 100

#3. Delete and clear

In [ ]:
# Example - deleting a single variable
age = 21
del age

In [ ]:
# Example - deleting a list of variable
del a,at

In [ ]:
# Example - erase or clear all variables 
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [ ]:
# Loops with variable
x = 7.2345
for i in range(0,4): print('Round with', i, 'decimals:', round(x,i))

Round with 0 decimals: 7.0
Round with 1 decimals: 7.2
Round with 2 decimals: 7.23
Round with 3 decimals: 7.234

In [ ]:
# Loops with variable - #2.
y = 15 
print('This is the list of the 100th multiples of', y,':')
for i in range (1,101): print ('position:', i,'Multiple:',y*i)

This is the list of the 100th multiples of 15 :
position: 1 Multiple: 15
position: 2 Multiple: 30
position: 3 Multiple: 45
position: 4 Multiple: 60
position: 5 Multiple: 75
position: 6 Multiple: 90
position: 7 Multiple: 105
position: 8 Multiple: 120
position: 9 Multiple: 135
position: 10 Multiple: 150
position: 11 Multiple: 165
position: 12 Multiple: 180
position: 13 Multiple: 195
position: 14 Multiple: 210
position: 15 Multiple: 225
position: 16 Multiple: 240
position: 17 Multiple: 255
position: 18 Multiple: 270
position: 19 Multiple: 285
position: 20 Multiple: 300
position: 21 Multiple: 315
position: 22 Multiple: 330
position: 23 Multiple: 345
position: 24 Multiple: 360
position: 25 Multiple: 375
position: 26 Multiple: 390
position: 27 Multiple: 405
position: 28 Multiple: 420
position: 29 Multiple: 435
position: 30 Multiple: 450
position: 31 Multiple: 465
position: 32 Multiple: 480
position: 33 Multiple: 495
position: 34 Multiple: 510
position: 35 Multiple: 525
position: 36 Multiple: 540
position: 37 Multiple: 555
position: 38 Multiple: 570
position: 39 Multiple: 585
position: 40 Multiple: 600
position: 41 Multiple: 615
position: 42 Multiple: 630
position: 43 Multiple: 645
position: 44 Multiple: 660
position: 45 Multiple: 675
position: 46 Multiple: 690
position: 47 Multiple: 705
position: 48 Multiple: 720
position: 49 Multiple: 735
position: 50 Multiple: 750
position: 51 Multiple: 765
position: 52 Multiple: 780
position: 53 Multiple: 795
position: 54 Multiple: 810
position: 55 Multiple: 825
position: 56 Multiple: 840
position: 57 Multiple: 855
position: 58 Multiple: 870
position: 59 Multiple: 885
position: 60 Multiple: 900
position: 61 Multiple: 915
position: 62 Multiple: 930
position: 63 Multiple: 945
position: 64 Multiple: 960
position: 65 Multiple: 975
position: 66 Multiple: 990
position: 67 Multiple: 1005
position: 68 Multiple: 1020
position: 69 Multiple: 1035
position: 70 Multiple: 1050
position: 71 Multiple: 1065
position: 72 Multiple: 1080
position: 73 Multiple: 1095
position: 74 Multiple: 1110
position: 75 Multiple: 1125
position: 76 Multiple: 1140
position: 77 Multiple: 1155
position: 78 Multiple: 1170
position: 79 Multiple: 1185
position: 80 Multiple: 1200
position: 81 Multiple: 1215
position: 82 Multiple: 1230
position: 83 Multiple: 1245
position: 84 Multiple: 1260
position: 85 Multiple: 1275
position: 86 Multiple: 1290
position: 87 Multiple: 1305
position: 88 Multiple: 1320
position: 89 Multiple: 1335
position: 90 Multiple: 1350
position: 91 Multiple: 1365
position: 92 Multiple: 1380
position: 93 Multiple: 1395
position: 94 Multiple: 1410
position: 95 Multiple: 1425
position: 96 Multiple: 1440
position: 97 Multiple: 1455
position: 98 Multiple: 1470
position: 99 Multiple: 1485
position: 100 Multiple: 1500

# *4. Naming*

## 4.1 Conditions and Restrictions

The names must have only alphanumeric characteres
((from `0 to 1`, `a to z`, `A to Z `) and underscore `_`.

*WARNING* a variable name MUST noy beginwith a number.

In [ ]:
## Example 
my_age = 100
person1 = 'me'

## 4.2. Best Practices

* Variables are case sentitive

In [ ]:
# Example

age = 12
age = 13
AGE = 14

The best practice in Python is to used lower case

* Composite names

In [ ]:
# Example 
book_price = 100
book_quant = 20

* Use meaingful names

Names should tell you something

In [ ]:
stock_price = 25

# *5. Data types*

## 5.1 Integers

In [ ]:
stock_price = 25
print (type(stock_price))

<class 'int'>

## 5.2 Float

In [ ]:
stock_price = 25.45
print (type(stock_price))

<class 'float'>

### Python as a calculator

In [ ]:
# Example
x = 3
y = 4
z = 5
print('x + y =', x + y)
print('x * z =', x + z)

x + y = 7
x * z = 8

### Let's try a nice trick

In [ ]:
# Nice Trick
w = 0

In [ ]:
# Nice Trick
w += 2
print(w)

2

## 5.3. Booleans 

These are variables with values of `True` OR `False`

In [ ]:
# Example 

is_sunny = True
print(type(is_sunny))

<class 'bool'>

More important are *BOOLEAB EXORESSIONS*

In [ ]:
# Example
x = 2
y = 3

print('is x equals to y?', x ==y)
print('is x NOT equals to y?', x != y)
print('is x greater y?', x > y)
print('is x less than y?', x < y)

is x equals to y? False
is x NOT equals to y? True
is x greater y? False
is x less than y? True

In [ ]:
# Practice - hard mode!

# Using loops, you are going to evaluate the b_e
# x+y >  x*y
# For x =) 1,2,3,...,10
#     y = 11,12,13,...20

In [ ]:
#Practice 
# Multiplication - A Solution

print('Is x + y > x * y?') 
for x in range (1,11): 
  for y in range (11,21):
    print('Is',x, '+',y, '>', x, '*',y, '?' ,x + y > x * y)

Is x + y > x * y?
Is 1 + 11 > 1 * 11 ? True
Is 1 + 12 > 1 * 12 ? True
Is 1 + 13 > 1 * 13 ? True
Is 1 + 14 > 1 * 14 ? True
Is 1 + 15 > 1 * 15 ? True
Is 1 + 16 > 1 * 16 ? True
Is 1 + 17 > 1 * 17 ? True
Is 1 + 18 > 1 * 18 ? True
Is 1 + 19 > 1 * 19 ? True
Is 1 + 20 > 1 * 20 ? True
Is 2 + 11 > 2 * 11 ? False
Is 2 + 12 > 2 * 12 ? False
Is 2 + 13 > 2 * 13 ? False
Is 2 + 14 > 2 * 14 ? False
Is 2 + 15 > 2 * 15 ? False
Is 2 + 16 > 2 * 16 ? False
Is 2 + 17 > 2 * 17 ? False
Is 2 + 18 > 2 * 18 ? False
Is 2 + 19 > 2 * 19 ? False
Is 2 + 20 > 2 * 20 ? False
Is 3 + 11 > 3 * 11 ? False
Is 3 + 12 > 3 * 12 ? False
Is 3 + 13 > 3 * 13 ? False
Is 3 + 14 > 3 * 14 ? False
Is 3 + 15 > 3 * 15 ? False
Is 3 + 16 > 3 * 16 ? False
Is 3 + 17 > 3 * 17 ? False
Is 3 + 18 > 3 * 18 ? False
Is 3 + 19 > 3 * 19 ? False
Is 3 + 20 > 3 * 20 ? False
Is 4 + 11 > 4 * 11 ? False
Is 4 + 12 > 4 * 12 ? False
Is 4 + 13 > 4 * 13 ? False
Is 4 + 14 > 4 * 14 ? False
Is 4 + 15 > 4 * 15 ? False
Is 4 + 16 > 4 * 16 ? False
Is 4 + 17 > 4 * 17 ? False
Is 4 + 18 > 4 * 18 ? False
Is 4 + 19 > 4 * 19 ? False
Is 4 + 20 > 4 * 20 ? False
Is 5 + 11 > 5 * 11 ? False
Is 5 + 12 > 5 * 12 ? False
Is 5 + 13 > 5 * 13 ? False
Is 5 + 14 > 5 * 14 ? False
Is 5 + 15 > 5 * 15 ? False
Is 5 + 16 > 5 * 16 ? False
Is 5 + 17 > 5 * 17 ? False
Is 5 + 18 > 5 * 18 ? False
Is 5 + 19 > 5 * 19 ? False
Is 5 + 20 > 5 * 20 ? False
Is 6 + 11 > 6 * 11 ? False
Is 6 + 12 > 6 * 12 ? False
Is 6 + 13 > 6 * 13 ? False
Is 6 + 14 > 6 * 14 ? False
Is 6 + 15 > 6 * 15 ? False
Is 6 + 16 > 6 * 16 ? False
Is 6 + 17 > 6 * 17 ? False
Is 6 + 18 > 6 * 18 ? False
Is 6 + 19 > 6 * 19 ? False
Is 6 + 20 > 6 * 20 ? False
Is 7 + 11 > 7 * 11 ? False
Is 7 + 12 > 7 * 12 ? False
Is 7 + 13 > 7 * 13 ? False
Is 7 + 14 > 7 * 14 ? False
Is 7 + 15 > 7 * 15 ? False
Is 7 + 16 > 7 * 16 ? False
Is 7 + 17 > 7 * 17 ? False
Is 7 + 18 > 7 * 18 ? False
Is 7 + 19 > 7 * 19 ? False
Is 7 + 20 > 7 * 20 ? False
Is 8 + 11 > 8 * 11 ? False
Is 8 + 12 > 8 * 12 ? False
Is 8 + 13 > 8 * 13 ? False
Is 8 + 14 > 8 * 14 ? False
Is 8 + 15 > 8 * 15 ? False
Is 8 + 16 > 8 * 16 ? False
Is 8 + 17 > 8 * 17 ? False
Is 8 + 18 > 8 * 18 ? False
Is 8 + 19 > 8 * 19 ? False
Is 8 + 20 > 8 * 20 ? False
Is 9 + 11 > 9 * 11 ? False
Is 9 + 12 > 9 * 12 ? False
Is 9 + 13 > 9 * 13 ? False
Is 9 + 14 > 9 * 14 ? False
Is 9 + 15 > 9 * 15 ? False
Is 9 + 16 > 9 * 16 ? False
Is 9 + 17 > 9 * 17 ? False
Is 9 + 18 > 9 * 18 ? False
Is 9 + 19 > 9 * 19 ? False
Is 9 + 20 > 9 * 20 ? False
Is 10 + 11 > 10 * 11 ? False
Is 10 + 12 > 10 * 12 ? False
Is 10 + 13 > 10 * 13 ? False
Is 10 + 14 > 10 * 14 ? False
Is 10 + 15 > 10 * 15 ? False
Is 10 + 16 > 10 * 16 ? False
Is 10 + 17 > 10 * 17 ? False
Is 10 + 18 > 10 * 18 ? False
Is 10 + 19 > 10 * 19 ? False
Is 10 + 20 > 10 * 20 ? False

In [ ]:
# Practices #2
# Multiplication - A solution
for x in range (1,11): 
  print('Table of',x, ':')
  for y in range (1,11):
    print(x,'*',y,'=', x*y)

Table of 1 :
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Table of 2 :
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Table of 3 :
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Table of 4 :
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Table of 5 :
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Table of 6 :
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
Table of 7 :
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
Table of 8 :
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
Table of 9 :
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
Table of 10 :
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

## 5.4 Strings

These are variables that sore "text". And by text we mean  anything that is between apostrophes

In [18]:
# Basic Examples
first_name = 'José'
last_name = 'Vélez'
print(first_name,last_name)

José Vélez

In [19]:
# Basic operation
full_name = first_name + ' ' + last_name
print(full_name)

José Vélez

In [17]:
# Warning 
shoe_price = '100'
print(shoe_price, 100)

float(shoe_price)

100 100

100.0

### Sciling
it means divide or use a sub-string

In [20]:
# Example
x = 'universidad de la salle'

In [24]:
# Sciling

print('firt element of x:' , x[0])
print('last element of x:' , x[-1])
print('sub string of x:', x[0:11])

firt element of x: u
last element of x: e
sub string of x: universidad