<a href="https://colab.research.google.com/github/Lorenarrieta69/Code_in_class/blob/main/Workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align = "center">
<strong> Universidad de La Salle </strong>
</h1>

<h1 align = "center">
<strong> Finance and International Commerce Program </strong>
</h1>

<h1 align = "center">
<strong> Data Visualization - Workshop 1 </strong>
</h1>

# **Instructions**

1. Please read carefully the document. Ask all the questions you may have.
2. Save this file in your Google Drive.
3. DO NOT alter any cell unless it specifically ask you to do it.
4. You will have **two hours** (until 11am) maximum to finish and deliver this workshop.
5. You can use any help you want: your notes, your codes, internet, classmates.
6. Nevertheless, the workshop must be presented individually.
7. Once you have finish, save a copy in your GitHub class repository.
8. The deliver process is as follows:
    
    8.1. Via email you will send the link to the GitHub location.
    
    8.2. In the same mail, just for safety, you will attach a copy of your `.ipynb` file.
    
    8.3. The email must have the subject: "W1 DV".

# **To keep in mind**

* The excercises propouse are intended to **push** you a little futher in your Pyton skills.
* This means that there are going to be exercises above the level seen in class.
* The idea is to incentive your creative thinking and solving problem skills.
* As always there several ways to do the excersice. But in this case, I ask you to use only the tools we learned.
* I ask you to trust me. Give your best effort. Grades do not matter here.

# **Exercise Set**

## Ex 1.

In the cell code below, first create a variable with your full name then write the appropiate code, using *sciling*, to print your full name as this:

`First Name: José` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Middle Name: Rodrigo`

`First Last  Name: Vélez` &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; `Second Last Name: Molano`

In [ ]:
# Answ. Ex 1
full_name = 'Ashly Lorena Arrieta Ruiz'
print('First Name:', full_name[0:5], '\tMiddle Name:',full_name[6:12])
print('First Last Name:', full_name[12:20], '\tSecond Last Name:',full_name[20:25])

First Name: Ashly 	Middle Name: Lorena
First Last Name:  Arrieta 	Second Last Name:  Ruiz

## Ex 2.

In the cell code below, you are given two random numbers `x` and `y`. 

Write the appropiate code to print the result of dividing `x` by all its precedents rounded by `y` decimal positions.

This is an example of the expected result for `x = 15` and `y = 2`:

`15 / 1 = 15.00`

`15 / 2 = 7.50`

`15 / 3 = 5.00`

`...`

`15 / 15 = 1.00`

**JUST IN CASE!** You must use the variables given to you

In [ ]:
# Answ. Ex 2 
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
x = round(np.random.uniform(12,22))
y = round(np.random.uniform(1,4))
###################################

# (write your code below)
print('Division table of',x, ':')
for i in range(1,x+1): print(x,'/',i,'=', round(x/i,y))

Division table of 18 :
18 / 1 = 18.0
18 / 2 = 9.0
18 / 3 = 6.0
18 / 4 = 4.5
18 / 5 = 3.6
18 / 6 = 3.0
18 / 7 = 2.6
18 / 8 = 2.2
18 / 9 = 2.0
18 / 10 = 1.8
18 / 11 = 1.6
18 / 12 = 1.5
18 / 13 = 1.4
18 / 14 = 1.3
18 / 15 = 1.2
18 / 16 = 1.1
18 / 17 = 1.1
18 / 18 = 1.0

## Ex 3. 

The Fibonnaci sequence is a sequence constructed by the process:

$x_{i} = x_{i-1} + x_{i-2}$

where $x_{1} = x_{2} = 1$.

Below you are given a random number `z`, write the appropiate code to calculate and print the `z`th position of the Fibonnaci sequence.

In [72]:
# Answ. Ex 3
###################################
#      DO NOT MODIFY THIS PART    #
import numpy as np
z = round(np.random.uniform(50,100))
###################################

# (write your code below)
x1, x2 = 1, 1

if z <= 0:
   print("Por favor, ingrese un número mayor que 0")
if z == 1:
   print(x1)
else:
   for i in range(1, z):
       print('position', i, ':', x1)
       xth = x1 + x2
       x1 = x2
       x2 = xth

position 1 : 1
position 2 : 1
position 3 : 2
position 4 : 3
position 5 : 5
position 6 : 8
position 7 : 13
position 8 : 21
position 9 : 34
position 10 : 55
position 11 : 89
position 12 : 144
position 13 : 233
position 14 : 377
position 15 : 610
position 16 : 987
position 17 : 1597
position 18 : 2584
position 19 : 4181
position 20 : 6765
position 21 : 10946
position 22 : 17711
position 23 : 28657
position 24 : 46368
position 25 : 75025
position 26 : 121393
position 27 : 196418
position 28 : 317811
position 29 : 514229
position 30 : 832040
position 31 : 1346269
position 32 : 2178309
position 33 : 3524578
position 34 : 5702887
position 35 : 9227465
position 36 : 14930352
position 37 : 24157817
position 38 : 39088169
position 39 : 63245986
position 40 : 102334155
position 41 : 165580141
position 42 : 267914296
position 43 : 433494437
position 44 : 701408733
position 45 : 1134903170
position 46 : 1836311903
position 47 : 2971215073
position 48 : 4807526976
position 49 : 7778742049
position 50 : 12586269025
position 51 : 20365011074
position 52 : 32951280099
position 53 : 53316291173
position 54 : 86267571272
position 55 : 139583862445
position 56 : 225851433717
position 57 : 365435296162
position 58 : 591286729879
position 59 : 956722026041
position 60 : 1548008755920
position 61 : 2504730781961
position 62 : 4052739537881
position 63 : 6557470319842
position 64 : 10610209857723
position 65 : 17167680177565
position 66 : 27777890035288
position 67 : 44945570212853
position 68 : 72723460248141
position 69 : 117669030460994
position 70 : 190392490709135
position 71 : 308061521170129
position 72 : 498454011879264
position 73 : 806515533049393
position 74 : 1304969544928657
position 75 : 2111485077978050
position 76 : 3416454622906707
position 77 : 5527939700884757
position 78 : 8944394323791464
position 79 : 14472334024676221
position 80 : 23416728348467685

## Ex 4.

Create a string variable with the name of your favorite music artist or group.Write the appropiate code to print it in reversed order.

*Example:*

`w = 'Dog'`

Expected result: `'goD'`.

In [87]:
# Answ. Ex 4
# (write your code below)
Artist = 'Nanpa'

print('x:', Artist [5:2])

x: